<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판 만들기~~</title>

    <style>


        .layout {
            width: 50%;
            height: 600px;
        }


        .title{
            width: 60%;
            margin-top: 50px;
        }

        .content{
            width: 60%;

        }


    </style>
</head>
<body>
<h1>
    <div class="layout">
        <form action="/lab/board2" method="post">
            <input type="text" name="title" class="title">
            <input type="text" name="content" class="content">
            <button type="submit" name="submit">저장하기</button>
        </form>
    </div>


</h1>
</body>
</html>